<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}MyBooks{% endblock %}</title>
        <meta name="description" content="Default Description" />
        {% block stylesheets %}
   {% stylesheets
    'bundles/bookshopbookshop/css/*'
    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
        {% endblock %}
         {% block javascripts %}
        <script type="text/javascript" src="{{asset('js/prototype/prototype.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {% block header %}
                <div class="header-container">
				<div class="header">
					<div class="quick-access">
						<form id="search_mini_form" action="product_list.html" method="get">
							<div class="form-search">
								<label for="search">Search:</label>
								<input id="search" type="text" name="q" value="" class="input-text" maxlength="128" />
								<button type="submit" title="Search" class="button"><span><span>Search</span></span></button>
							</div>
						</form>

						<p class="welcome-msg">Default welcome msg! </p>

						<ul class="links">
                                                     {{ knp_menu_render('BookshopBookshopBundle:Builder:headerMenuGuest') }}
					
						</ul>

					</div>
				</div>
			</div>
                {% endblock %}
                 {% block menu %}
            <div class="nav-container">
                    {{ knp_menu_render('BookshopBookshopBundle:Builder:categoryMenu') }}
            </div>
                {% endblock %}
       
           
            <div class="page">
                
                {% block content %}
              
                {% endblock%}
                <div class="footer-container">
                    <div class="footer">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li class="last privacy"><a href="#">Privacy Policy</a></li>
                        </ul>

                        <ul class="links">
                            <li class="first" ><a href="#" title="Site Map" >Site Map</a></li>
                            <li ><a href="#" title="Search Terms" >Search Terms</a></li>
                            <li ><a href="#" title="Orders and Returns" >Orders and Returns</a></li>
                            <li class=" last" ><a href="#" title="Contact Us" >Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>  
        </div>

    </body>
</html>