{% extends 'BookshopBookshopBundle::layout.html.twig' %}
{% block content %}
<div class="main-container col3-layout">
				<div class="main">
					<div class="col-wrapper">
						<div class="col-main">
{% block leftsidebar%}
                                                        
{% endblock %}
 </div>
                                               {% block rightsidebar%}
                                               {% endblock %}
                                                </div>
                                        </div>
        </div>

{% endblock%}